#Introduction {
  height: 100vh;
  overflow-y: scroll; /* 세로 스크롤 허용 */
  scroll-snap-type: y mandatory; /* 수직 스크롤 스냅 활성화 */

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    scroll-snap-align: start; /* 각 섹션이 스크롤되면 뷰포트 상단에 맞추기 */

    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .section1 {
    background: url("https://twemoji.maxcdn.com/v/13.0.0/72x72/1f4bb.png") no-repeat center center;
    background-size: cover;
  }

  .section2 {
    background: url("https://twemoji.maxcdn.com/v/13.0.0/72x72/1f4da.png") no-repeat center center;
    background-size: cover;
  }

  .section3 {
    background: url("https://twemoji.maxcdn.com/v/13.0.0/72x72/1f4c8.png") no-repeat center center;
    background-size: cover;
  }
}
