#Introduction {
  height: 300vh;
  position: relative;

  .Section {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: gray;
    text-align: center;

    .Content {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      width: 450px;
      opacity: 0;
      transform: translateX(100%);
      transition:
        transform 1s ease,
        opacity 1s ease;
      transition-delay: 0.2s;

      &.visible {
        opacity: 1;
        transform: translateX(0);
      }

      .ContentTitle {
        margin-bottom: 15px;
      }

      ul {
        padding-left: 0;
        list-style-type: none;
        margin: 0;
      }

      li {
        margin: 10px 0;
      }
    }
  }

  .Section1 {
    background-image: url("../../../public/images/blur.jpg");
  }

  .Section2 {
    background-image: url("../../../public/images/blur2.jpg");
  }

  .Section3 {
    background-image: url("../../../public/images/blur3.jpg");
  }

  @media (max-width: 767px) {
    .Section {
      justify-content: center;
    }

    .Content {
      width: 100%;
      margin: 0 20px;
    }
  }

  @media (min-width: 768px) {
    .Section {
      justify-content: flex-end;
    }

    .Content {
      margin-right: 40px;
    }
  }
}
