#Header {
  position: fixed;
  z-index: 1;
  width: 100%;

  .HeaderTitleWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .HeaderTitle {
      color: white;
      font-weight: bold;
      margin: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }
    .SearchButton {
      border: none;
      background: none;
      .SearchIcon {
        margin-right: 20px;
      }
    }
  }
}

/* 모바일 전용 스타일 */
@media (max-width: 767px) {
  .HeaderMobile {
    .HeaderTitle {
      font-size: 20px;
    }

    .SearchIcon {
      margin-top: 5px;
      width: 20px;
      height: 20px;
    }

    .MenuList {
      display: none; /* 모바일에서는 메뉴를 숨기거나 햄버거 메뉴로 구현 가능 */
    }
  }
}

/* 데스크탑 전용 스타일 */
@media (min-width: 768px) {
  .HeaderDesktop {
    .HeaderTitle {
      font-size: 30px;
    }

    .MenuList {
      display: flex;
    }

    .SearchIcon {
      width: 30px;
      height: 30px;
    }
  }
}
