#Header {
  position: fixed;
  z-index: 1;
  width: 100%;
  .HeaderTitleWrap {
    // margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .HeaderTitle {
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin: 20px;
    }
    .SearchButton {
      border: none;
      background: none;
      .SearchIcon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
    }
  }
}
